.btn-animate{
  background-image: linear-gradient(#fff,#fff);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .2s ;
  height: 1px;
}
.btn-animate-hover {
  background-size: 100% 100%;
}



